html{
  width: 100%;
  height:100%;
  padding: 0px;
  margin: 0px;
}
.login{
  background-size: cover;
    width: 100%;
    height: 100%;
  background:url("/static/banner2.jpg") left top no-repeat;
  background-size:cover;
}

.login .content{
  width: 320px;
  margin: 0px auto 10px;
  top:16%;
  right: 5%;
   opacity:0.85;
   float: right;
   padding: 10px 30px 20px;
}
.input-icon>i{
    position: absolute;
    width: 40px;
    height: 100%;
    margin: 0px;
    background-color: #dcdcdc !important;
}
.login .content .form-control{
  background-color: #fff;
  padding-left: 50px;
}


.ba-icon-user{
  background:url("/static/icon-user.png") 10px 10px no-repeat !important;
}

.ba-icon-password{
  background:url("/static/icon-password.png") 10px 10px no-repeat !important;
}

.login .logo{
    background-color: #fff;
    margin: 0px auto 0;
    padding: 5px;
    text-align: left;
    position: relative;
    background: #394263;
}

.login .logo a{
  text-decoration:none;
  background:url("/static/logo.png") 100% 100% no-repeat;
  display: inline-block;
  width: 200px;
  height: 60px;
  margin-left: 40px;
}
.login .logo>span.logo-title{
  position: relative;
    top: -15px;
    left: 35px;
    font-size: 20px;
    font-weight: 300;
  color: #ffff;
}

.login .content h3{
  font-size:16px;
  text-align: left;
  color: #212121;
}

.login .content .form-actions{
  padding:0px 30px;
  border-bottom: none;
}

.login .content .form-actions .btn{
  width: 100%;
  background-color: #da251d;
  color: #fff !important;
}

.login .content .forget-password{
  color: #008ecf;
}

.login .content .form-actions .btn:hover{
  background-color: #cc1810;
}

.login .logo a:hover{
  text-decoration:none;
}

.login .logo b{
  font-size:40px;
  color:orangered;
}

.login .logo small{
  font-size:27px;
  color:white;
}

.login .login-footer{
  position: fixed;
  width: 100%;
  height: 50px;
  bottom: 0px;
  /*background-color: #4bbd9d;*/
  background-color:#fff;
}

.login .login-footer .footer-info{
	position:relative;
	width:100%;
	margin: 10px 0px 0px 50px;
	float:left;
}

.login .content .rememberme{
  margin-left: 0px;
}

.mt-checkbox>span{
  border-radius: 3px !important;
  background:#dcdcdc; 
}
.mt-checkbox>span:hover{
  background: #da251d !important;
}
.mt-checkbox>span:after{
    border:solid #fdfdfd;
    border-width: 0 2px 2px 0;
}
label.rememberme.check.mt-checkbox:hover span{
  background: #da251d;
}
 .mt-checkbox>input:checked~span{
  background: #da251d;
  color: #fff;
 }


 @media screen and (max-width: 767px){
  .login{
  background:url("static/login-bg@768.jpg") left top no-repeat;
  background-size: cover;
    }
  .login .content{
    clear: both;
    float: initial;
    right: 0px;
  }
 }