/* CSS Document */
*
{
	margin:0 auto;
	padding:0;
	border:0;
	}
body
{
	line-height:25px;
	font-family:"å®‹ä½“";
	font-size:12px;
	background-color:#f3f1f4;
	}
a
{
	text-decoration:none;
	color:#000;
	}
ul
{
	list-style:none;
	}
/*é¡¶éƒ¨*/
.top_bg
{
	width:100%;
	height:87px;
	background:url(//swtiny.yinzhongchang.cn/images/top_bg.png) repeat-x;
	}
.top
{
	width:1080px;
	height:80px;
	}
.logo
{
	width: 196px;
	/* height:45px; */
	float:left;
	display:inline;
	margin:15px 0 0 40px;
	}
.nav
{
	width:690px;
	height: 80px;
	float: left;
	}
.nav ul
{
	width:690px;
	height: 80px;
	}
.nav ul li
{
	width:78px;
	height: 70px;
	font-family:"å¾®è½¯é›…é»‘";
	font-size:16px;
	line-height:30px;
	text-align:center;
	float:left;
	display:inline;
	margin:0 10px;
	}
.nav ul li div
{
	width:78px;
	height:30px;
	overflow:hidden;
	margin:25px 0;
    -overflow:hidden;
	position:relative;
	}
.nav ul li a
{
	width:78px;
	height:30px;
	display:block;
	color:#aaa;
	position:relative;
	}
.nav ul li a.n2
{
	font-size:14px;
	color:#e4e3e3;
	}
.nav ul li:hover a
{
	color:#0697da;
	}
.nav ul li:hover
{
	background:url(//swtiny.yinzhongchang.cn/images/nav_bg.jpg) bottom no-repeat;
	}
.nav ul li.nav_now
{
	background:url(//swtiny.yinzhongchang.cn/images/nav_bg.jpg) bottom no-repeat;
	}
.nav ul li.nav_now a
{
	color:#0697da;
	}
.clearfix:after{
	width:0;height: 0;clear: both;content: '';display: block;
}
.project_bg
{
	width:100%;
	height:340px;
	background-color:#f8f8fa;
	}
.project
{
	width:980px;
	height:340px;
	}
.project ul
{
	width:980px;
	height:250px;
	padding-top:90px;
	}
.project ul li
{
	width:180px;
	height:205px;
	float:left;
	display:inline;
	margin:0 70px ;
	cursor:pointer;
	}
.project ul li a
{
	display:block;
	color:#a1a1a3;
	}
.project ul li p
{
	display:block;
	margin-top:10px;
	}
.project ul li .proinco
{
	display:block;
	width:93px;
	height:93px;
	margin-bottom:30px;
	position:relative;
	z-index: 10;
	-webkit-transition: -webkit-transform 0.4s ease-out;
	-moz-transition: -moz-transform 0.4s ease-out;
	transition: transform 0.4s ease-out;
	}
.project ul li:hover .proinco
{
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	transform:rotate(360deg);
	}
.project ul li div#brand
{
	background-image:url(//swtiny.yinzhongchang.cn/images/brand_a.jpg);
	}
.project ul li:hover div#brand
{
	background-image:url(//swtiny.yinzhongchang.cn/images/brand_b.jpg);
	}
.project ul li div#marking
{
	background-image:url(//swtiny.yinzhongchang.cn/images/marking_a.jpg);
	}
.project ul li:hover div#marking
{
	background-image:url(//swtiny.yinzhongchang.cn/images/marking_b.jpg);
	}
.project ul li div#seo
{
	background-image:url(//swtiny.yinzhongchang.cn/images/SEO_a.jpg);
	}
.project ul li:hover div#seo
{
	background-image:url(//swtiny.yinzhongchang.cn/images/SEO_b.jpg);
	}
.project ul li .protitle
{
	font-size:18px;
	font-family:"å¾®è½¯é›…é»‘";
	margin-bottom:20px;
	line-height:2px;
	text-align:center;
	}
.project ul li:hover .protitle
{
	color:#444547;
	}
/*æ¡ˆä¾‹å±•ç¤º*/
.case_bg
{
	width:100%;
	background-color:#f2f3f7;
	}
.case
{
	width:1070px;
	}
.case_title
{
	width:1070px;
	height:83px;
	text-align:center;
	padding-top:50px;

	}
.case_con
{
	width:1070px;
	}
.da-thumbs
{
	width:1070px;
	}
.da-thumbs li
{
	width:255px;
	height:312px;
	border:1px solid #e6e6e6;
	float:left;
	background-color:#fff;
	margin:0px 5px 40px 5px;
	display:inline;
	position:relative;
	overflow:hidden;
	}
.da-thumbs li:hover .CaseP
{
	height:312px;
	padding:0;
	}
.da-thumbs li:hover .CaseP img
{
	width:255px;
	height:312px;
	margin-left:-9px;
	}
.da-thumbs .CaseP
{
	width:237px;
	height:260px;
	padding:9px 9px;
	}
.da-thumbs .CaseP img
{
	margin-bottom:43px;
	display:block;
	}
.da-thumbs .CaseName
{
	width:255px;
	height:33px;
	border-top:1px solid #e6e6e6;
	line-height:33px;
	text-align:center;
	color:#736d6d;
	font-size:14px;
	font-family:"å¾®è½¯é›…é»‘";
	}
.da-thumbs li:hover .CaseName
{
	display:none;
	}
.da-thumbs li a{color:#fff;overflow:hidden}
.hot_info{position:absolute;background:#fff;background:rgba(255,255,255,0.3);*background:#fff;background:#fff\0;filter:alpha(Opacity=30);width:100%;height:100%; text-align:center;}
.hot_info span{ position:relative;font-family:"å¾®è½¯é›…é»‘"; font-size:16px; color:#fff; border-bottom:1px solid #fff;line-height:40px; display:block; width:200px; top:30%; letter-spacing:2px; text-align:center;}
.da-thumbs li a em{display:block;width:92px;height:8px;background:rgba(255,255,255,0.3);*background:#fff;background:#fff\0;filter:alpha(Opacity=30);margin:0 10px}
.da-thumbs li a h2{ font-size:20px;margin:6px 8px;font-weight:normal;text-align:center}
.da-thumbs li a p{margin:8px 13px;font:normal 14px/18px 'Microsoft YaHei'}
/*å®¢æˆ·*/
.client_bg
{
	width:100%;
	height:455px;
	}
.client
{
	width:980px;
	height:455px;
	}
.client_title
{
	width:980px;
	height:115px;
	background:url(//swtiny.yinzhongchang.cn/images/client_logo.jpg) center no-repeat;
	}
.client_con
{
	width:980px;
	height:180px;
	}
.comment
{
	width:980px;
	height:175px;
	}
.Portraits
{
	width:168px;
	height:165px;
	float:left;
	display:inline;
	margin-left:85px;
	background:url(//swtiny.yinzhongchang.cn/images/quotes_left.png) top right no-repeat;
	padding-top:10px;
	}
.Portraits li
{
	list-style:none;
}
.Portraits li img
{
	width:105px;
    height:105px;
}
.close
{
	width:105px;
	height:105px;
	position:absolute;
	z-index:9999;
	background-image:url(//swtiny.yinzhongchang.cn/images/Portraits.png);
	}
.index_close
{
	width:105px;
	height:105px;
	position:absolute;
	z-index:9999;
	background-image:url(//swtiny.yinzhongchang.cn/images/Portraits_index.png)
	}
.comment_con
{
	width:613px;
	height:175px;
	background:url(//swtiny.yinzhongchang.cn/images/quotes_right.png) bottom right no-repeat;
	padding-right:100px;
	float:right;
	}
.comment_title
{
	width:613px;
	height:40px;
	font-family:"å¾®è½¯é›…é»‘";
	line-height:40px;
	text-align:left;
	color:#848383;
	font-size:20px;
	}
.comment_detail
{
	width:613px;
	height:135px;
	color:#adadad;
	}
.client_cate
{
	width:980px;
	height:40px;
	border-top:1px solid #d7d7d7;
	}
.client_cate ul
{
	width:880px;
	height:40px;
	}
.client_cate ul li
{
	padding:0 10px;
	margin:0 8px;
	float:left;
	color:#8e8c8c;
	cursor:pointer;
	font-family:"å¾®è½¯é›…é»‘";
	font-size:14px;
	}
.client_cate ul li:hover
{
	border-top:1px solid #3cb5ec;
	color:#3cb5ec;
	margin-top:-1px;
	}
.client_cate ul li.client_now
{
	border-top:1px solid #3cb5ec;
	color:#3cb5ec;
	margin-top:-1px;
	}
.client_logo
{
	width:980px;
	height:60px;
	}
.client_logo .ClientL_left
{
	width:9px;
	height:18px;
	background-image:url(//swtiny.yinzhongchang.cn/images/clientinco_left.jpg);
	float:left;
	margin-top:25px;
	margin-left:5px;
    cursor:pointer;
	}
.client_logo .ClientL_con
{
	width:925px;
	height:60px;
	float:left;
	overflow:hidden;
	padding-left:15px;
	}
.ClientL_con ul
{
	width:925px;
	height:60px;
	}
.ClientL_con ul li
{
	width:165px;
	height:60px;
	float:left;
	display:inline;
	margin:0 10px;
	}
.client_logo .ClientL_right
{
	width:9px;
	height:18px;
	background-image:url(//swtiny.yinzhongchang.cn/images/clientinco_right.jpg);
	float:right;
	margin-top:25px;
	margin-right:5px;
        cursor:pointer;
	}
/*ä¼˜åŠ¿*/
.advantage_bg
{
	width:100%;
	background-color:#f5f5f5;
	}
.advantage
{
	width:1070px;
	}
.advantage_title
{
	width:1070px;
	height:120px;
	background:url(//swtiny.yinzhongchang.cn/images/advantage_logo.jpg) center no-repeat;
	}
.advantage_con
{
	width:1070px;
	margin-top:-20px;
	}
.advantage_con ul
{
	width:1070px;
	}
.advantage_con ul li
{
	width:246px;
	height:211px;
	float:left;
	background-image:url(//swtiny.yinzhongchang.cn/images/advantageli_bg.jpg);
	display:inline;
	margin:20px 10px;
	}
.advantage_con ul li:hover
{
	background-image:url(//swtiny.yinzhongchang.cn/images/advantageli_bga.jpg);
	}
.AdCon_p
{
	width:83px;
	height:62px;
	margin-top:30px;
	}
.AdCon_title
{
	width:210px;
	height:25px;
	color:#414040;
	font-size:16px;
	text-align:center;
	font-family:"å¾®è½¯é›…é»‘";
	margin-top:10px;
	margin-bottom:10px;
	}
.AdCon_detail
{
	width:210px;
	height:50px;
	color:#7b7a7a;
	text-align:center;
	}
/*æ–°é—»*/
.news
{
	width:980px;
	height:375px;
	}
.newbox
{
	width:298px;
	height:280px;
	float:left;
	margin-top:55px;
	margin-right:40px;
	}
.newbox_title
{
	width:298px;
	height:30px;
	border-bottom:1px solid #d7d7d7;
	}
.newbox_title .NBT_w
{
	width:100px;
	height:30px;
	float:left;
	text-align:left;
	line-height:30px;
	font-family:"å¾®è½¯é›…é»‘";
	font-size:14px;
	color:#3aaeeb;
	padding-left:2px;
	}
.newbox_title .NBT_more
{
	width:18px;
	height:18px;
	float:right;
	margin-top:10px;
	margin-right:2px;
	}
.newbox .newbox_first
{
	width:298px;
	height:70px;
	margin-top:20px;
	}
.newbox_first .NBF_p
{
	width:80px;
	height:67px;
	float:left;
	}
.newbox_first .NBF_con
{
	width:200px;
	height:70px;
	float:right;
	}
.NBF_con .NBFC_title
{
	width:200px;
	height:25px;
	text-align:left;
	font-family:"å¾®è½¯é›…é»‘";
	font-weight:600;
	}
.NBF_con .NBFC_title a
{
	color:#596167;
	}
.NBF_con .NBFC_detail
{
	width:200px;
	height:50px;
	color:#a6a7a8;
	line-height:20px;
	margin-top:3px;
	}
.NBF_con .NBFC_detail a
{
	color:#505050;
	}
.newbox .newbox_con
{
	width:298px;
	height:135px;
	margin-top:25px;
	}
.newbox_con ul
{
	width:298px;
	height:135px;
	}
.newbox_con ul li
{
	width:298px;
	height:25px;
	background:url(//swtiny.yinzhongchang.cn/images/new_inco.jpg) left center no-repeat;
	}
.newbox_con .news_title
{
	width:180px;
	height:25px;
	text-align:left;
	float:left;
	padding-left:20px;
	}
.newbox_con .news_title a
{
	color:#898888;
	}
.newbox_con .news_time
{
	width:80px;
	height:25px;
	text-align:right;
	margin-right:18px;
	color:#c3c3c3;
	}
/*é¡µè„š*/
.footer_bg
{
	width:100%;
	height:127px;
	background-color:#666;
	float:left;
	}
.footer
{
	width:900px;
	height:127px;
	}
.footer_nav
{
	width:900px;
	height:40px;
	line-height:50px;
	text-align:center;
	border-bottom:1px dashed #797979;
	color:#cfcfcf;
	}
.footer_nav a
{
	color:#cfcfcf;
	}
.info
{
	width:900px;
	height:87px;
	}
.info .infobox
{
	width:280px;
	height:67px;
	float:left;
	margin-top:15px;
	}
.infobox .infobox_inco
{
	width:31px;
	height:31px;
	float:left;
	margin-top:4px;
	}
.infobox .infobox_con
{
	width:235px;
	height:67px;
	float:right;
	color:#cfcfcf;
	line-height:20px;
	}
/*å‹æƒ…é“¾æŽ¥*/
.friendlink_bg
{
	width:100%;
	float:left;
	}
.friendlink
{
	width:900px;
	color:#8e8c8c;
	}
.friendlink a
{
	color:#8e8c8c;
	}
/*å…³äºŽæˆ‘ä»¬*/
.content
{
	width:980px;
	}
.con_left
{
	width:240px;
	float:left;
	border:1px solid #e9e4e8;
	background-color:#fff;
	padding-bottom:50px;
	}
.ConL_title
{
	width:160px;
	height:35px;
	border-bottom:1px solid #d0cccd;
	background:url(//swtiny.yinzhongchang.cn/images/quotes_left.jpg) top left no-repeat;
	font-family:"å¾®è½¯é›…é»‘";
	font-size:14px;
	font-weight:600;
	line-height:35px;
	text-align:left;
	color:#595859;
	text-align:center;
	margin-top:10px;
	}
.ConL_con
{
	width:160px;
	}
.ConL_con ul
{
	width:160px;
	}
.ConL_con ul li
{
	width:160px;
	height:40px;
	border-bottom:1px solid #eee;
	line-height:40px;
	text-align:center;
	font-size:14px;
	font-family:"å¾®è½¯é›…é»‘";
	}
.ConL_con ul li.conL_now
{
	background:url(//swtiny.yinzhongchang.cn/images/conl_inco.jpg) right center no-repeat;
	}
.ConL_con ul li.conL_now a
{
	color:#3cb5ec;
	}
.ConL_con ul li a
{
	color:#a59c9c;
	}
.ConL_con ul li:hover
{
	background:url(//swtiny.yinzhongchang.cn/images/conl_inco.jpg) right center no-repeat;
	}
.ConL_con ul li:hover a
{
	color:#3cb5ec;
	}
.con_right
{
	width:730px;
	float:right;
    border:1px solid #e9e4e8;
	background-color:#fff;
	margin-bottom:30px;
	}
.conR_title
{
	width:645px;
	height:60px;
	font-family:"å¾®è½¯é›…é»‘";
	font-size:20px;
	font-weight:600;
	line-height:60px;
	text-align:left;
	color:#595859;
	border-bottom:1px dashed #d7d6d7;
	}
.conR_con
{
	width:645px;
	color:#787575;
	margin-top:15px;
	padding-bottom:30px;
	}
/*æ–°é—»åˆ—è¡¨*/
.inban
{
	width:980px;
	height:288px;
	}
.NewsList
{
	width:645px;
	}
.NewsList ul
{
	width:645px;
	}
.NewsList ul li
{
	width:645px;
	height:118px;
	border-bottom:1px solid #efefef;
	margin-top:30px;
	}
.NewsList .NewP
{
	width:125px;
	height:85px;
	float:left;
	}
.NewsList .NewsCon
{
	width:500px;
	height:85px;
	float:right;
	}
.NewsCon .NewsT
{
	width:500px;
	height:30px;
	float:right;
	}
.NewsT .NewsTitle
{
	width:350px;
	height:30px;
	line-height:30px;
	text-align:left;
	font-size:14px;
	font-family:"å¾®è½¯é›…é»‘";
	font-weight:600;
	float:left;
	}
.NewsT .NewsTitle a
{
	color:#545454;
	}
.NewsT .NewsTitle:hover
{
	margin-top:-1px;
	height:31px;}
.NewsT .NewsTime
{
	width:100px;
	height:30px;
	line-height:30px;
	text-align:right;
	color:#a8a6a6;
	float:right;
	margin-right:20px;
	}
.NewsCon .NewsDatail
{
	width:500px;
	height:55px;
	color:#777;
	float:left;
	clear:both;
	}
.NewsDatail a
{
	color:#336699;
	}
.page
{
	width:645px;
	height:30px;
	line-height:30px;
	text-align:center;
	margin:30px 0 50px 0;
	float:left;
	}
.page li
{
	height:20px;
	line-height:22px;
	text-align:center;
	float:left;
	padding:0px 5px;
	list-style:none;
	margin:0 5px;
	border:1px solid #c7d1c4;
	}
.page li.pageboder
{
	background-color:#CCC;
	}
/*æ–‡ç« é¡µé¢*/
.art_content
{
	width:980px;
	background-color:#fff;
	padding-top:50px;
	margin-bottom:30px;
	margin-top:8px;
	}
.art_title
{
	width:800px;
	height:40px;
	line-height:40px;
	text-align:left;
	color:#333;
	font-family:"å¾®è½¯é›…é»‘";
	font-size:24px;
	}
.art_info
{
	width:800px;
	height:40px;
	line-height:40px;
	text-align:left;
	color:#8e8c8c;
	border-bottom:1px dashed #d7d6d7;
	}
.artinfo_author
{
	height:40px;
	line-height:40px;
	padding-left:15px;
	margin-right:50px;
	background:url(//swtiny.yinzhongchang.cn/images/author_inco.jpg) left center no-repeat;
	}
.artinfo_time
{
	padding-left:15px;
	height:40px;
	line-height:40px;
	background:url(//swtiny.yinzhongchang.cn/images/time_inco.jpg) left center no-repeat;
	}
.art_con
{
	width:800px;
	color:#8e8c8c;
	margin-top:25px;
	padding-bottom:80px;
	}
.trun
{
	width:800px;
	height:40px;
	border-top:1px dashed #d7d6d7;
	border-bottom:1px dashed #d7d6d7;
	color:#afafaf;
	line-height:40px;
	}
.trun a
{
	color:#afafaf;
	}
.trun a:hover
{
	color:#00a0ea;
	}
.trun .trun_left
{
	float:left;
	text-align:left;
	}
.trun .trun_right
{
	float:right;
	text-align:right;
	}
.ACL
{
	width:800px;
	height:180px;
	margin-top:20px;
	padding-bottom:80px;
	}
.artcaselist
{
	width:345px;
	height:180px;
	float:left;
	}
.artcaselist .artcaselist_title
{
	width:345px;
	height:30px;
	line-height:30px;
	text-align:left;
	font-family:"å¾®è½¯é›…é»‘";
	font-size:14px;
	font-weight:600;
	color:#3aaeeb;
	}
.artcaselist .artcaselist_con
{
	width:345px;
	height:150px;
	}
.artcaselist_con ul
{
	width:345px;
	height:150px;
	}
.artcaselist_con ul li
{
	width:345px;
	height:25px;
	background:url(//swtiny.yinzhongchang.cn/images/AIL_inco.jpg) left center no-repeat;
	}
.artcaselist_con .ACL_title
{
	width:250px;
	height:25px;
	margin-left:20px;
	text-align:left;
	float:left;
	}
.ACL_title a
{
	color:#898888;
	}
.ACL_title a:hover
{
	color:#00a0ea;
	}
.artcaselist_con .ACL_time
{
	width:70px;
	height:25px;
	text-align:right;
	float:right;
	color:#c3c3c3;
	}
/*æ¡ˆä¾‹é¡µé¢*/
.Reviews
{
	width:980px;
	height:345px;
	background-color:#f6f6f6;
	}
.Reviews_title
{
	width:800px;
	height:40px;
	font-family:"å¾®è½¯é›…é»‘";
	line-height:40px;
	text-align:left;
	padding-top:40px;
	}
.RT_cn
{
	font-size:24px;
	color:#0697da;
	}
.RT_en
{
	font-size:18px;
	color:#dedddd;
	}
.artcon_title
{
	width:800px;
	height:80px;
	line-height:80px;
	text-align:left;
	border-bottom:1px dashed #d7d6d7;
	font-family:"å¾®è½¯é›…é»‘";
	margin-top:20px;
	}
/*æ¡ˆä¾‹ä¸­å¿ƒ*/
.case_cate
{
	width:1030px;
	height:53px;
	border:1px solid #e6e4e7;
	background-color:#fff;
	line-height:53px;
	text-align:left;
	font-family:"å¾®è½¯é›…é»‘";
	font-size:14px;
	font-weight:600;
	padding-left:30px;
	margin-top:20px;
	margin-bottom:20px;
	}