/* 头部菜单 */
header{
	background: #1d2b40;
	height: 58px;
	color:#fff;
	line-height: 58px;
	width: 100%;
}
header div.left{
	height: 58px;
	padding-left: 30px;
	float: left;
}
header div.left ul li{
	float: left;
	margin-right: 20px;
}
header div.left ul li span{
	padding-top:12px;
    display:inline-block;
}
header div.left ul li span img{
	width:80px;
}
header div.right{
	float: right;
	margin-right: 20px;
}
header div.right ul li{
	float: left;
	margin-right: 20px;
}



header div.right ul li a{
	color: #fff;
}
.container{
	position: absolute;
    left: 0px;
    top: 58px;
    right: 0px;
    bottom: 0px;
    transition: left 0.3s ease 0s;
    transform: translate3d(0px, 0px, 0px);
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
}

.container.isShowSidebar{
	left: -150px;
}	
.container .sidebar{
	position: relative;
    width: 149px;
    background: #294265;
    /*background-color: rgb(240, 246, 246) #323438;*/
    border-right: 1px solid rgb(206, 223, 234);
    display: inline-block;
    height: 100%;
    vertical-align: top;
}	

.container .sidebar .menu {
    position: relative;
    height: 100%;
}

.container .sidebar .menu h2{
	font-size: 22px;
    font-weight: 400;
    line-height:  62px;
    display: block;
    padding: 0px 20px;
    color: #fff;
    height: 62px;
}

.container .sidebar .menu .line-mod {
    width: 156px;
    height: 0;
    margin: 0 auto 15px;
    border: none;
    border-top: 6px solid #cadbe6;
    border-bottom: 1px solid #f8fbfb;
}


.container .sidebar .menu h2>span {
    display: inline-block;
    vertical-align: middle;
}
.container .sidebar .menu-list {
    font-size: 14px;
    line-height: 35px;
    overflow: auto;
    position: absolute;
    width: 100%;
    top: 15px;
    bottom: 0;
}

.container .sidebar .menu a.act {
    font-weight: 700;
}

.container .sidebar .menu a.act,.container .sidebar .menu a:active {
    color: #2277da;
    -webkit-font-smoothing: antialiased;
}

.container .sidebar .menu a {
    color: #d9dadc;
}
.container .sidebar .menu dd.act>a {
    color: #586376;
}
.container .sidebar .menu dd.act>.menu-sub li a {
    color: #586376;
}
.container .sidebar .act {
    background-color: #d5e2ef;
}
.container .sidebar .menu a span {
    display: inline-block;
    vertical-align: middle;
}
.container .sidebar .menu-list dd {
    position: relative;
    width: 100%;
}
.container .sidebar .menu-lv2{
	display: block;
}
.container .sidebar .menu-lv2 span {
    font-weight: 700;
    margin-left: 25px;
}
.container .sidebar .menu .view-all:hover, .container .sidebar .menu-list a:hover {
    background-color: #d5e2ef;
    color: #2277da;
    font-weight: 400;
}
.container .sidebar .menu-list dd ul.menu-sub{
	display: none;
}

.container .sidebar .menu-list dd.act ul.menu-sub, .menu-lv3 {
    display: block;
}

.container .sidebar .menu-list .ico-dot {
    display: inline-block;
    width: 5px;
    height: 5px;
    margin: 0 14px 0 29px;
    vertical-align: middle;
    border-radius: 5px;
    background: #b2becd;
}

.container .sidebar .menu-lv2 .white-down-icon {
    position: absolute;
    right: 24px;
    top: 15px;
    overflow: hidden;
}
.container .sidebar .white-down-icon {
    width: 11px;
    height: 6px;
    background-image: url(../images/bee-201705051525.png);
    background-position: -125px -138px;
}



.container .sidebar .ico-add-menu, .container .sidebar .ico-exit, .container .sidebar .menu a.act .ico-dot, .top-menu-arrows, .user-msg-btn {
    background: url(../images/top-menu.png);
}

.container .sidebar .menu a.act .ico-dot {
    width: 7px;
    height: 7px;
    margin: 0 14px 0 28px;
    background-color: inherit;
    background-position: 0 -77px;
}







.container .main{
	position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 200px;
    background-color: rgb(255, 255, 255);
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 60px;
}
.container .btn-fold-menu {
    line-height: 100;
    position: absolute;
    top: 21px;
    right: -1px;
    overflow: hidden;
    width: 16px;
    height: 36px;
    border-width: 1px medium 1px 1px;
    border-style: solid none solid solid;
    border-color: rgb(199, 224, 239) currentcolor rgb(199, 224, 239) rgb(199, 224, 239);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-radius: 3px 0px 0px 3px;
    background: rgb(247, 253, 253) url(../images/top-menu.png) no-repeat scroll -72px -40px;
    z-index: 100;
    cursor: pointer;
}

.container .btn-fold-menu.retract {
    right: -17px;
    border: 1px solid #c7e0ef;
    border-left: none;
    border-radius: 0 3px 3px 0;
    background: url(../images/top-menu.png) -87px -40px no-repeat #f0f6f6;
}   



/* main部分 */

.main .area-title{
	margin: 0 20px;
    font-size: 0;
    min-height: 62px;
    line-height: 62px;
    position: relative;
}
.main .area-title h2{
	display: inline-block;
    vertical-align: middle;
    font-size: 22px;
    font-weight: 400;
    margin-right: 20px;
    max-width: 70%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.main .menus{
	margin-left: 20px;
}

a.btn{
	background: #2277da;
	padding: 5px 10px;
	border-radius: 3px;
	display: inline-block;
	color:#FFF;
    font-size: 14px;
}



a.btn.submit{
    padding: 6px 20px;
}
.main .menus ul li a:hover{
	background: #006ba2;
	
}

table.Gtable{
       border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
    position: relative;
    font-size:12px;
}

table.Gtable thead tr th{
  background-color: #f6f8fa;
   border:1px #ccc solid;
   line-height: 30px;
}
table.Gtable thead tr th:first-of-type{
  width:30px;
  
}

table.Gtable tbody tr td{
  border:1px #ccc solid;
  text-align: center;
  line-height: 30px;
}
table.Gtable tbody tr td a{
  margin-left: 10px;
}
.Gform{
    min-width:600px;
    max-width: 660px;
}
.Gform ul{
    float:left;
}
.Gform ul li{
    margin-bottom: 15px;
    float: left;
    position: relative;
}
.Gform ul li.Gname{
    width: 100px;
    padding: 5px 0px;
    color: #171d25;
    vertical-align: middle;
    position: absolute;
    text-align: right;
}
.Gform ul li.Ginput{
    padding: 5px 10px;
    color: #171d25;
    vertical-align: middle;
    margin-left: 100px;
    float:left;
}
.Gform ul li.Ginput input{
    height: 24px;
    line-height: 24px;
    border-radius: 3px;
    border: 1px solid #ccc;
    width:400px;
}
.Gform ul li.Gimage{
    padding: 5px 10px;
    color: #171d25;
    vertical-align: middle;
    margin-left: 100px;
}
.Gform ul li.Gimage>div ul li{
    width:100px;
    float: left;
    margin-right: 10px;
}
.Gform ul li.Gimage>div ul li.img{
    width:100px;
    position: relative;
}
.Gform ul li.Gimage>div ul li.img i{
   position: absolute;
   right: 0;
   top:-10px;
   font-size: 30px;
   font-style:normal;
   transform: rotate(45deg);
   color: #fff;
   display: none;
   cursor: pointer;
}
.Gform ul li.Gimage>div ul li.img:hover i{
    display: block;
}
.Gform ul li.Gimage>div ul li.img img{
    width:100px;
    height:100px;
    
}
.Gform ul li.Gimage>div ul li.file{
    width:100px;
    height:100px;
    position: relative;
    
}
.Gform ul li.Gimage>div ul li.file span{
    padding-top: 30px;
    display: inline-block;
    border: 1px solid #ccc;
    width:100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
}
.Gform ul li.Gimage>div ul li.file input[type='file']{
    width:100px;
    height:100px;
    opacity: 0;
    position: absolute;
    z-index: 1;
    left: 0;
    top:0;
    cursor: pointer;
}

.Gform ul li.Guemit{
    padding: 5px 10px;
    color: #171d25;
    vertical-align: middle;
    margin-left: 100px;
}
.Gform ul li.Gsubmit{
    padding: 5px 10px;
    color: #171d25;
    vertical-align: middle;
    margin-left: 100px;
}

footer{
	position: fixed;
	bottom: 0;
	background: #2F3847;
	height: 40px;
	line-height: 40px;
	width: 100%;
	text-align: center;
	color:#fff;
}















