<header>
    <div class="left">
      <ul>
        <li><span><img src="//swtiny.yinzhongchang.cn/assets/images/logo.png"></span></li>
        <li>设置</li>
      </ul>
    </div>
    <div class="right">
      <ul>
        <li><a href="/">去首页</a></li>
        <li><span><%= username %></span> </li>
        <li><a href="/api/logout">退出</a> </li>
      </ul>
    </div>
  </header>