<div class="footer_bg">
  <div class="footer">
    <div class="footer_nav">
        <a href="./">网站首页</a>  ｜  <a href="./design">设计团队</a>  ｜  <a href="./case">精选案例</a>  ｜  <a href="./service">服务范围</a>  ｜  <a href="./about">关于我们</a>   ｜   <a href="./admin/">进入后台</a>　|  <a href="https://tongji.baidu.com/sc-web/23582401/home/site/index?siteId=10579715" target="_blank">百度统计</a>
    </div>
    <div class="info">
      <div class="infobox">
        <div class="infobox_inco"><img src="//swtiny.yinzhongchang.cn/images/footerinco1.jpg"></div>
        <div class="infobox_con">官方邮件：yinchangjun@swtiny.com</br>ICP备案号：沪ICP备17027208</div>
      </div>
      <div class="infobox">
          <div class="infobox_inco"><img src="//swtiny.yinzhongchang.cn/images/footerinco2.jpg"></div>
          <div class="infobox_con"> 地址：上海市宝山区沪太路6397号1-2层F25区1085室</br>2017©版权所有 </div>
      </div>
      <div class="infobox" style="float:right; width:310px;">
          <div class="infobox_inco"><img src="//swtiny.yinzhongchang.cn/images/footerinco3.jpg"></div>
          <div class="infobox_con" style="width:265px; line-height:15px;">上海胜微文化传媒有限公司</br>挑选适合您的设计师</div>
      </div>
    </div>
  </div>
</div>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?d2045960cd63d33514f36bd9feecaea6";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

