<div class="top_bg">
  <div class="top">
    <div class="logo"><a href="/"><img width="133"  src="https://swtiny.yinzhongchang.cn/assets/images/logo.png"></a></div>
    <div class="nav">
      <ul>
        <li <% if (nav_now=='index') { %> class="nav_now" <% } %> ><div><a class="n1" href="/">首页</a><a class="n2" href="/">HOME</a></div></li>
        <li <% if (nav_now=='design') { %> class="nav_now" <% } %>><div><a class="n1"  href="/design">拍摄团队</a><a class="n2" href="/design">DESIGN</a></div></li>
        <li <% if (nav_now=='service') { %> class="nav_now" <% } %>><div><a class="n1"  href="/service">服务范围</a><a class="n2" href="/service">SERVICE</a></div></li>
        <li <% if (nav_now=='about') { %> class="nav_now" <% } %>><div><a class="n1"  href="/about">关于我们</a><a class="n2" href="/about">ABOUT</a></div></li>
        <!--<li <% if (nav_now=='news') { %> class="nav_now" <% } %>><div><a class="n1"  href="/news">企业新闻</a><a class="n2" href="/news">NEWS</a></div></li>-->
      </ul>
    </div>
  </div>
</div>